@media((min-width:300px) and (max-width:480px)) {
    #navigation {
        position: relative;
        padding: 50px 0px;
    }

    .logo {
        position: absolute;
        top: 2%;
        left: 1%;
        display: flex;
        align-items: center;
    }

    .delevery {
        display: none;
    }

    .language {
        display: none;
    }

    .order {
        display: none;
    }

    .threeDots {
        display: block;
        color: white;
        font-size: 28px;
        margin: 0px 5px 0px 0px;
    }

    .signupIcone {
        display: block;
        color: white;
        position: absolute;
        right: 14%;
        top: 3%;
        font-size: 32px;
    }

    .sub-signup {
        display: none;
    }

    .cart {
        position: absolute;
        right: 2%;
        top: 1%;
    }

    .cartText {
        display: none;
    }

    .search {
        position: absolute;
        bottom: 5%;
        right: 5%;
        left: 5%;
        display: block;
        width: 90%;

    }

    .searchDropDown {
        display: none;
    }

    #second-nav {
        display: none;
    }

    .left-side,
    .right-side {
        padding: 5px;
    }

    .left-side,
    .right-side {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        border-radius: 50%;
        z-index: 10;
        font-size: 22px;
    }

    .left-side {
        left: 10px;
    }

    .right-side {
        right: 10px;
    }

    .sales {
        grid-template-columns: repeat(1, 1fr);
        width: 90%;
    }

    #slider {
        height: auto;
    }

    .slider {
        position: relative;
    }

    .box {
        top: 0%;
        width: 100%;
    }

    .sub-box {
        flex-direction: column;
        align-items: center;
        margin: 0px 5px;
    }

    .sub-box img {
        width: 100%;
    }

    .sub-box p {
        text-align: center;
    }

    .leftArrow1,
    .RightArrow1 {
        z-index: 10;
    }

    .m1 {
        margin: 0px 0px 0px 10px;
    }

    .second-slider-head {
        margin: 5px;
    }
    .mobile-slider {
        width: 50%;
    }

    #secondSlider {
        width: 90%;
        margin: auto;
    }

    #thirdSlider {
        width: 90%;
        margin: 5% auto;
    }

    .thirdSliderHead {
        flex-direction: column;
        text-align: center;
    }

    .sport-slider {
        width: 50%;
    }
    .leftArrow2 , .RightArrow2{
        top: 40%;
    }
    
    #FourthSlider{
        width: 90%;
        margin: 5% auto;
    }
    .FourthSlider-head {
        display: flex;
        flex-direction: column;
        margin: 5px 5px;
        font-size: 14px;
        align-items: center;
    }

    .product-img img {
        width: 220px;
        height: 150px;
        margin: 0px 0px 0px 12px;
        
    }
    .product-slider{
        padding: 0px 10px;
    }
    .leftArrow3 , .RightArrow3{
        top: 40%;
    }
    .shoppingMainBox {
        display: flex;
        flex-direction: column;
        width: 90%;
        /* background-color: red; */
        margin: auto;
        /* justify-content: space-between; */
    }
    .shoppingBox{
        width: 100%;
        margin: 10px 0px 10px 0px;
    }
    #FifthSlider{
        width: 90%;
        margin: 5% auto;
    }
    .FifthSlider-head{
        display: flex;
        flex-direction: column;
    }
}