* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}

.body {
    background-color: #e3e6e6;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar {

    width: 1px;
    height: 7px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

/* body{
    background-color:#232f3e;
    height: 500vh;
} */
#navigation {
    background-color: black;
    width: 100%;
    /* height: 10vh; */
    align-items: center;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}

.threeDots {
    display: none;
}

.signupIcone {
    display: none;
}

.logo {
    color: #fff;
}

.bi-caret-down-fill {
    font-size: 10px;
}

.delevery {
    color: #fff;
}

.delevery p {
    margin: 0%;
    font-weight: 500;
}

.delevery span {
    color: #ccc;
    margin: 0px 0px 0px 15px;
    font-size: 12px;
}

.search {
    color: #000;
    width: 50%;
}

.all-Search {
    overflow: auto;
    height: 50vh;
}

.all-Search p {
    /* font-size: 13px; */
    font-weight: 530;
    margin: 5px 0px 0px 5px;
    color: #0f1111;
    font-size: 14px;
    line-height: 20px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    /* background-color: red; */
}

.bi-search {
    /* background-color: yellow; */
}

.language a {
    /* background-color: #fff; */
    color: #fff;
    /* padding: 10px 20px; */
    /* width: 10%;
    height: 20vh; */
}

.language ul {
    margin: 0%;
    padding: 0%;
}

.language ul li {
    list-style: none;
}

.language ul li a {
    text-decoration: none;
}

.sub-language {
    display: none;
}

.sub-language li {
    list-style: none;
    /* text-decoration: none; */
}

.sub-language li a {
    /* list-style: none; */
    text-decoration: none;
}

.sub-signup {
    /* background-color: #fff; */
    color: #fff;
    padding: 2px;
    position: relative;
}

.sub-signup p {
    margin: 0%;
}

.sub-signup h6 {
    margin: 0%;
}

.signin-box {
    /* background-color: white; */
    color: #fff;
    display: none;
    font-size: 12px;
    width: 33%;
    padding: 10px 15px;
    position: absolute;
    right: 10%;
    margin: auto;
    text-align: center;

}

table {
    border-collapse: collapse;
    /* background-color: yellow; */
}

td {
    padding: 2px 0px 3px 40px;
    text-align: left;
}

table tr td a {
    text-decoration: none;
    font-size: 14px;
    /* background-color: red; */
    color: #000;
}

.order {
    /* background-color: #fff; */
    padding: 2px;
    color: #fff;
}

.order p {
    /* background-color: rebeccapurple; */
    margin: 0%;
    font-size: 14px;
}

.order h6 {
    /* background-color: red; */
    margin-bottom: 0%;
}

.cart {
    /* background-color: #fff; */
    color: #fff;
    padding: 2px;
    font-size: 16px;
}

.cart i {
    font-size: 32px;
}

.second-navigation {
    background-color: #232f3e;
}

.second-navigation ul li {
    list-style: none;
}

.second-navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.second-navigation ul {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 0%;
    margin: 0%
}

.second-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 5px;
}

#slider {
    background-color: #e3e6e6;
    height: 160vh;
    /* margin: 0px 0px 120px 0px; */
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slider {
    /* width: 100%;
    margin: auto; */
    position: absolute;
    display: flex;
    align-items: center;
    /* position: relative; */
}

.sub-slider {
    /* width: 100%;
    overflow: hidden;
    display: flex; */
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.sub-slider img {
    /* width: 1520px;
    height: 100%; */
    width: 100%;
    max-width: 100%;
    flex-shrink: 0;
}

.left-side {
    position: absolute;
    font-size: 52px;
    top: 15%;
    left: 1%;
    color: #000;
    padding: 45px 5px;
}

.right-side {
    position: absolute;
    font-size: 52px;
    top: 15%;
    right: 1%;
    color: #000;
    padding: 45px 5px;
}

.right-side:hover {
    border: 1px solid #232f3e;
    cursor: pointer;
}

.left-side:hover {
    border: 1px solid #232f3e;
    cursor: pointer;
}

.sales {
    /* padding-bottom: 50%; */
    /* margin-bottom: -50%; */
    /* padding-bottom: 10%; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 99%;
    margin: auto;
}

.box {
    /* background-color: red; */
    width: 360px;
    /* padding: 10px 5px; */
    margin: 20px 0px;
    background-color: #FFF;
    overflow: auto;
    padding: 25px 10px;
    position: relative;
    /* bottom: 90%; */
    top: 52%;
    border-radius: 5px;
}

.box h4 {
    margin: 0px 0px 10px 2px;
}

.box .seeAll {
    text-decoration: none;
    position: absolute;
    bottom: 2%;
}

.small-box {
    display: flex;
    justify-content: space-around;
    /* background-color: #fff; */
}
.sub-box a{
    text-decoration: none;
}
.sub-box img {
    width: 163px;
}

.sub-box p {
    font-size: 12px;
    line-height: 18px;
    color: #0f1111;
}

.second-slider-head {
    margin: 5px 70px;
    display: flex;
    align-items: center;
}

.second-slider-head a {
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
}

#secondSlider {
    margin: auto;
    /* height: 380px; */
    width: 98%;
    margin: 2% 1%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px 25px 5px;
}

.mobiles {
    position: relative;
    width: 99%;
    margin: auto;
}

.mobile-slider {
    position: relative;
    overflow: auto;
    width: 90%;
    margin: auto;
    display: flex;
}

.leftArrow1 {
    position: absolute;
    font-size: 40px;
    top: 55px;
    left: 0%;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    z-index: 10;
}

.RightArrow1 {
    right: 0%;
    position: absolute;
    font-size: 40px;
    top: 55px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    z-index: 10;
}

.m1 {
    margin: 0px 40px 0px 0px;
}

.img-card {
    width: 200px;
}

.img-card img {
    display: block;
    margin: auto;
}

.discount {
    background-color: #cc0c39;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
}

.discountPara {
    font-size: 12px;
    color: #cc0c39;
    font-weight: 700;
}

.price {
    font-size: 18px;
    font-weight: 500;
}

.mrp {
    color: #232f3e;
    font-size: 12px;
}

.mobile-body {
    padding: 5px 0px;
}

.mobile-body h6 {
    font-size: 14px;
    margin: 0%;
}

#thirdSlider {
    border-radius: 5px;
    position: relative;
    margin: 2% 1%;
    background-color: #fff;
    padding: 10px 5px 25px 5px;
    width: 98%;
    overflow: hidden;
}

.thirdSliderHead {
    display: flex;
    /* margin: 5px 80px; */
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
}

.thirdSliderHead a {
    text-decoration: none;
    margin: 0px 10px;
}

.sport-slider {
    width: 90%;
    gap: 40px;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    margin: auto;
}
.sport-slider-img{
    width: 200px;
}
.sport-slider-img img{
    width: 100%;
}

.leftArrow2 {
    left: 2%;
    top: 33%;
    position: absolute;
    font-size: 40px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
    user-select: none;
}

.RightArrow2 {
    user-select: none;
    right: 2%;
    bottom: 33%;
    position: absolute;
    font-size: 40px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
}

#FourthSlider {
    margin: 2% 1%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px 25px 5px;
    position: relative;
}

.FourthSlider-head {
    display: flex;
    /* justify-content: space-between; */
    margin: 5px 80px;
    align-items: center;
}

.FourthSlider-head a {
    text-decoration: none;
    margin: 0px 10px;
}

.product-slider {
    width: 90%;
    margin: auto;
    display: flex;
    overflow: auto;
    gap: 20px;
}
.sub-forth-slider{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.leftArrow3 {
    left: 2%;
    top: 33%;
    position: absolute;
    font-size: 40px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
}

.RightArrow3 {
    right: 2%;
    bottom: 33%;
    position: absolute;
    font-size: 40px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
}

.product-img img {
    width: 320px;
    height: 200px;
}

.shoppingMainBox {
    display: flex;
    width: 98%;
    /* background-color: red; */
    margin: auto;
    justify-content: space-between;
}

.shoppingBox {
    border-radius: 5px;
    background-color: #fff;
    width: 24%;
    padding: 10px 5px;
}

.shoppingBox h6 {
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px 5px 15px;
}

.shoppingBoxHead {
    margin: 5px 0px;
    /* background-color: red; */
}

.shoppingBoxHead img {
    display: block;
    margin: auto;

}

.shoppingBoxBody {
    padding: 0px 10px;
}

.shoppingBoxBody p {
    font-size: 14px;
    color: #0f1111;
    margin: 2px;
}

.shoppingPrice {
    font-size: 20px;
    font-weight: 500;
}

.shopping-mrp {
    color: #232f3e;
    font-size: 12px;
}

.sub-shoppingBoxBody {
    width: 100%;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
}
.shoppingBoxSmallImg{
    background-color: red;
    width: 50px;
    height: 50px;
}
.shoppingBoxSmallImg img{
    width: 100%;
    height: 100%;
}

.sub-shoppingBoxBody img {
    background-color: #edfdff;
    box-shadow: 0 0 0 3px #007185;
}

.shoppingBoxBody a {
    text-decoration: none;
}

.leftArrow4 {
    left: 2%;
    top: 33%;
    z-index: 10;
    position: absolute;
    font-size: 40px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
}

.RightArrow4 {
    right: 2%;
    bottom: 33%;
    z-index: 10;
    position: absolute;
    font-size: 40px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
}

#FifthSlider {
    margin: 2% 1%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px 25px 5px;
    position: relative;
}

.FifthSlider-head {
    display: flex;
    margin: 5px 80px;
    align-items: center;
}

.FifthSlider-head a {
    text-decoration: none;
    margin: 0px 10px;
}

.decoration-slider {
    display: flex;
    width: 90%;
    margin: auto;
    overflow: auto;
    gap: 50px;
    position: relative;
}

#shoesBrand {
    background-color: #fff;
    width: 65%;
    display: flex;
    justify-content: space-evenly;
    border-color: rgb(229, 231, 235);
    border: 2px solid #F5F5F5;
    margin: auto;
    align-items: center;
    padding: 50px 0px;
}

.pumaImg {
    display: flex;

    /* width: 50%; */
}

.puma {
    width: 200px;
}

.puma span {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
}

.puma img {
    width: 80%;
}

.pumaShoes {
    width: 200px;
}

.pumaShoes img {
    width: 100%;
}

.shoesBrandContent {
    /* background-color: red; */
    font-family: 'Amazon Ember', arial, sans-serif;
}

.shoesBrandContent h5 {
    margin: 2px;
}

.star i {
    color: yellow;
}

.shoesMrp {
    color: #232f3e;
    font-size: 12px;
    margin: 0px 5px;
}

.shoesBrandContent p {
    font-size: 14px;
}

#brands {
    /* padding-bottom: 50%; */
    /* margin-bottom: -50%; */
    /* padding-bottom: 10%; */
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    display: flex;
    width: 100%;
    margin: 5% auto;
    justify-content: space-between;
}

#left-brand {
    /* background-color: red; */
    width: 50%;
    display: flex;
}

#right-brand {
    /* background-color: green; */
    width: 50%;
    display: flex;
}

.Brandbox {
    /* background-color: red; */
    width: 360px;
    /* padding: 10px 5px; */
    margin: 20px 10px;
    background-color: #FFF;
    /* overflow: auto; */
    padding: 20px 10px;
    position: relative;
    /* bottom: 90%; */
    /* top: 52%; */
    border-radius: 5px;
}

.Brandbox h4 {
    margin: 0px 0px 10px 2px;
}

.brand-box-bigimg {
    height: auto;
}

.brand-box-bigimg img {
    width: 100%;
}

.Brandbox a {
    text-decoration: none;
    position: absolute;
    bottom: 2%;
    color: #007185;
}

.BrandboxMain {
    display: flex;
    justify-content: space-around;
    /* background-color: #fff; */
}

.BrandboxSub {
    width: 200px;
    /* background-color: red; */
    margin: 5px;
}

.brand-box-img {
    height: 140px;
}

.brand-box-body {
    /* background-color: red; */
    width: 140px;
}

.brand-box-img img {
    height: 100%;
    /* width: 100px; */
    display: block;
    margin: auto;
}

.BrandboxSub p {
    font-size: 12px;
    line-height: 18px;
    color: #0f1111;
    margin: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.BrandboxSub h6 {
    font-size: 22px;
    font-weight: 500;
}


.leftArrow5 {
    left: 2%;
    top: 33%;
    position: absolute;
    font-size: 40px;
    background-color: #fff;
    height: 100px;
    line-height: 100px;
    width: 45px;
    z-index: 10;
    text-align: center;
    box-shadow: 0 1px 3px #888;
}

.RightArrow5 {
    right: 2%;
    bottom: 33%;
    position: absolute;
    font-size: 40px;
    background-color: #fff;
    height: 100px;
    z-index: 10;
    line-height: 100px;
    width: 45px;
    text-align: center;
    box-shadow: 0 1px 3px #888;
}

#shoesSlider {
    margin: 2% 1%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 5px 25px 5px;
    position: relative;
}

.shoesSlider-head {
    display: flex;
    margin: 5px 80px;
    align-items: center;
}

.shoes-img img{
    width: 200px;
}
.shoesSlider-head a {
    text-decoration: none;
    margin: 0px 10px;
}

.shoes-slider {
    display: flex;
    width: 90%;
    margin: auto;
    overflow: auto;
    gap: 50px;
    position: relative;
}

.custumer {
    /* background-color: red; */
    width: 20%;
    text-align: center;
    margin: auto;
}

.custumer p {
    margin: 10px 0px 10px 0px;
    font-size: 14px;
    font-weight: 500;
}

.btn-grad {
    text-shadow: 0 1px 0 #ffe093;
    padding: 6px 100px;
    background-color: #ffc73a;
    border-radius: 10px;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    background-image: linear-gradient(to right, #FF8008 0%, #FFC837 51%, #FF8008 100%);
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #000;
    text-decoration: none;
}

.navFooterBackToTop {
    background-color: #111;
    padding: 10px 0px;
    text-align: center;
}

.navFooterBackToTopText {
    color: #fff;
}

#descrption {
    padding: 30px 0px 0px 0px;
    background-color: #232F3E;
}

.descriptionTable {
    width: 70%;
    margin: auto;
    color: #fff;
}

.table-head {
    font-weight: 500;
    font-size: 18px;
}

.table-body {
    font-size: 14px;
    color: #DDD;
}

.footerLine {
    background-color: #DDD;
    margin: 50px 0px 5px 0px;
}

.footerLogo {
    width: 100px;
}

.footerLogo img {
    width: 100%;
}

.footer-english {
    border: 1px solid #DDD;
    padding: 5px 10px;
    position: relative;
}

.sub-language-footer {
    display: none;
    background-color: #fff;
    /* width: 15%; */
    /* height: 30vh; */
    border-radius: 5px;
    position: absolute;
    /* margin-top: 20px; */
    /* top: 0%; */
}

.sub-language-footer li {
    padding: 2px 20px;
}

.sub-language-footer li a {
    color: #000;
    font-size: 14px;
}

.india {
    border: 1px solid #DDD;
    padding: 5px 35px;
    color: #FFF;
    text-decoration: none;
}

.sub-footer {
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    justify-content: space-evenly;
}

.language:hover .sub-language-footer {
    display: block;
}

.lastFooter {
    background-color: #131A22;
    margin: 50px 0px 0px 0px;
    padding: 20px 0px;
}

.lastFooter table {
    color: white;
}

.lastFooter table tr td {
    font-size: 12px;
}

.lastTable {
    /* background-color: red; */
    margin: auto;
    width: 70%;
    border-spacing: 30px;
}

.lastTable th,
tr {
    padding: 5px;
}





/* description.html #2nd page  */
.productDescription{
    background-color: #fff;
    /* margin: 5% 0%; */
}
.productMainBox{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    align-items: center;
}
.productImg{
    /* width: 100%; */
    height: 70vh;
    /* background-color: red; */
}
.productImg img{
    /* width: 100%; */
    height: 100%;
}
.productText{
    width: 45%;
}
.ProductTitle{
    font-size: 32px;
}
.Visit{
    color:#007185;
    font-size: 16px;
}
.feedBack{
    display: flex;
    border-color: #007185;
}
.rate{
    margin: 0px 5px 0px 0px;
}
.Productstar{
    color: #ffa41c;
}
.ratings{
    margin: 0px 0px 0px 20px;
    color: #007185;
}
.bought{
    font-size: 13px;
    margin: 5px 0px;
}
.Deal{
    background-color: #cc0c39;
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 2px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    margin: 0%;
}
.productPrice{
    display: flex;
    margin: 5px 0px;
}
.productDiscount{
    margin: 0px 10px 0px 0px;
    font-size: 28px;
    color: #cc0c39;
}
.proPrice{
    font-size: 28px;
    margin: 0px;
}
.ProductMrp{
    font-size: 12px;
    font-weight: 500;
    color: #555;
}
.taxes{
    margin: 0%;
    font-size: 16px;
    font-weight: 500;
}f7ca00
.EMIa{
    text-decoration: none;
}
.AddTOCardProduct{
    color: #000;
    font-weight: 500;
    border: none;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 13px;
    background-color: #f7ca00;
}
.productBuy{
    color: #000;
    font-weight: 500;
    border: none;
    padding: 10px 50px;
    border-radius: 50px;
    font-size: 13px;
    background-color: #fa8900;
}



/* Electronic Page #3rd Page  */
.electronicPageRightSide{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.subElectronic{
    display: flex;
    justify-content: space-between;
    width: 70%;
    box-shadow: 0 0 5px #333;
    padding: 20px 30px;
    margin: 20px;
}
.electronicImg{
    background-color: #e9e3e3;
    width: 50%;
    margin: auto;
}

.electronicImg img{
    /* background-color: #888; */
    margin: auto;
    display: block;
    width: 250px;
    height: 50vh;
    border-radius: 10px;
}
.electronicBody{
    width: 45%;
    /* text-align: center; */
}
.electronicBodyTitle{
    color: #0f1111 !important;
    font-size: 22px !important;
    /* line-height: 24px !important; */
    /* font-size: 12px !important; */
    /* line-height: 16px !important; */
}
.electronicBodyDescription{
    color: #0f1111!important;
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: 400 !important;
    font-style: normal !important;
    text-transform: none !important;
    text-decoration: none !important;
}
.electronicfeedBack{
    display: flex;
    align-items: center;
}
.electronicstar{
    color: #ffa41c;
    margin: 0px 2px 0px 0px;
}
.downNum , .electronicrate {
    color: #007185;
    font-weight: 500;
    font-size: 14px;
}
.boughtphone{
    color: #565959 ;
    font-size: 14px !important;
    line-height: 20px !important;
}
.elePayMent{
    margin: 5px 0px;
}
.ElePrice{
    font-size: 28px;
    color: #0f1111;
}
.eleMrp{
    color: #232f3e;
    font-size: 12px;
    margin: 0px 0px 0px 4px;
}
.phoneDiscount{
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #0f1111;
    font-size: 14px;
    line-height: 20px;
}
.primeLogo{
    width: 50px;
    
}
.delevry span{
    text-align: center;
    font-size: 14px;
    color: #0f1111;
    font-size: 500;
}
#third-nav{
    background-color: #fff;
    border: 1px solid #bbb;
    align-items: center;
    padding: 10px 50px 15px 50px;
}
#third-nav ul{
    display: flex;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
}
#third-nav ul li{
    list-style: none;
}
#third-nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 13px;

}
#sortsection{
    background-color: #fff;
    border: 1px solid #bbb;
    align-items: center;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Results{
    margin: 10px 20px;
}
.results p{
    margin: 0%;
    color: #0f1111;
    font-size: 14px;
    font-style: arial;
    font-weight: 400;
}
.results h4{
    font-weight: bold;
    font-size: 22px;
}
.bestSelling ul{
    margin: 0%;
    align-items: center;
}
.bestSelling p{
    margin: 0%;
    background-color: #f0f2f2;
    border:2px solid #d5d9d9;
    border-radius: 8px;
    color: #0f1111;
    font-size: 11px;
    padding: 2px 7px;

}
.bestSelling li{
    list-style: none;
}
.bestSellingPara{
    position: relative;
    cursor: pointer;
}
.bestSellingPara:hover .subBestSelling{
    
    display: block;
}
.subBestSelling{
    display: none;
    position: absolute;
    /* background-color: #fff; */
    left: 0%;
    width: 120%;
}
#ElectronicsData{
    display: flex;
}
#ElectronicsDataPageRight{
    /* display: none; */
    /* margin: 0% 0% 0% 20%; */
    width: 80%;
    background-color: #fff;
}
#ElectronicsDataPageLeft{
    padding: 10px 0px 20px 20px;
    background-color: #fff;
    border-right: 1px solid #bbb;
    width: 20%;
    font-family: "Amazon Ember", Arial, sans-serif;

}
.paraHeadSame{
    margin: 0%;
    font-weight: bolder;
    font-size: 14px;
    color: #0f1111;
}
.category a{
    text-decoration: none;
    color: #0f1111;
    margin: 0px 0px 0px 15px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.1cap;
}
.category a:hover{
    color: #fa8900;
}
.category h6{
    font-weight: 700;
    margin: 0px 0px 0px 15px;
    font-size: 14px;
}
.category span{
    font-size: 14px;
    margin: 0px 0px 0px 25px;
}
.paraBodySame{
    font-size: 14px;
}
.paraBodySame:hover{
    color: #fa8900;
    cursor: pointer;
}
.logImg img{
    margin: 10% auto;
    display: block;
}